<h1 class="titulo">Nossa Equipe</h1>
<hr>
<br>
<h4 style="text-align: center;">
    Todos os nossos profissionais são experientes, com anos de experiência na odontologia.<br>
    São qualificados para realizar o seu tratamento da melhor maneira.
</h4>
<br>

<mat-grid-list  #grid [cols]="cols" rowHeight="7:8">
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Aline Junia</mat-card-title>
                <mat-card-subtitle>Cirurgiã Dentista</mat-card-subtitle>
            </mat-card-header>
            <img style="max-width: 250px;" mat-card-image src="../../assets/profissionais/profissional_Aline.jpg" alt="Aline">
            <mat-card-content>
                <p style="text-align: center;">
                    Especialista em Ortodontia
                </p>
            </mat-card-content>
            <mat-card-actions>
                <a mat-stroked-button color="primary" href="https://www.linkedin.com/in/aline-j%C3%BAnia-1798b61b6/" target="_blank">Linkedin </a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Karina Mara</mat-card-title>
                <mat-card-subtitle>Cirurgiã Dentista</mat-card-subtitle>
            </mat-card-header>
            <img style="max-width: 250px;" mat-card-image src="../../assets/profissionais/profissional_Karina.jpeg" alt="Karina">
            <mat-card-content>
                <p>
                    Especialista e mestre em Endodontia<br>Especialista em prótese
                </p>
            </mat-card-content>
            <mat-card-actions>
                <a mat-stroked-button color="primary" href="https://www.facebook.com/karina.mara.7" target="_blank">Facebook</a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>


