<mat-grid-list #grid [cols]="cols" rowHeight="2:1">
    <div>
        <h1 class="titulo">Nossos Serviços</h1>
    </div>
    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Aparelho Ortodôntico</mat-card-title>
            </mat-card-header>
            <br>
            <img mat-card-image src="../../assets/icones/Aparelho.png">
            <br>
            <mat-card-content>
                <p>
                    A mastigação, a fala e a respiração estão entre as funções que podem melhorar com a
                    correção de problemas nos dentes e nos ossos maxilares. Problemas de mordida e de mastigação
                    podem
                    causar fortes tensões musculares que têm como consequências dores de cabeça.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Tratamento Endodôntico (Canal)</mat-card-title>
            </mat-card-header>
            <br>
            <img mat-card-image style="width: 125px;" src="../../assets/icones/canal-radicular.png">
            <br>
            <mat-card-content>
                <p>
                    Mesmo que possa dar um pouco de medo, fazer um tratamento de canal traz muitas
                    vantagens para sua saúde bucal. Ele ajuda a prevenir uma série de problemas derivados da infecção.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Prótese Dentários</mat-card-title>
            </mat-card-header>
            <br>
            <img mat-card-image style="width: 100px;" src="../../assets/icones/Emplante.png">
            <br>
            <mat-card-content>
                <p>
                    Substituímos seus dentes perdidos por materiais de qualidade que devolvem sua mastigação e estética.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Restauração</mat-card-title>
            </mat-card-header>
            <br>
            <img mat-card-image src="../../assets/icones/Restalracao.png">
            <br>
            <mat-card-content>
                <p>
                    Com este tratamento devolvemos a forma do seu dente que estava danificado, com carie
                    ou quebrado, dando a ele a aparência de um dente novo e saudável novamente.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>