<div class="container">
    <div style="text-align:center">
        <br>
        <h2>Alterar Agendamento</h2>
    </div>
    <div class="row">
        <div class="column">
            <img src="../../assets/img/Recepção.jpg" style="width:100%">
        </div>
        <div class="column">
            <form class="form" (ngSubmit)="registrarAgenda(form)" #form="ngForm">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" id="name" name="name" [(ngModel)]="agendamento.nome" disabled>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>E-mail</mat-label>
                    <input matInput type="email" id="email" name="email" [(ngModel)]="agendamento.email" disabled>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Dentista</mat-label>
                    <mat-select [(ngModel)]="agendamento.profissional" name="profissional" required>
                        <mat-option *ngFor="let profissional of profissionais" [value]="profissional.nome">
                            {{profissional.nome}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" color="primary">
                    <mat-label>Data</mat-label>
                    <input matInput name="data" [matDatepickerFilter]="myFilter" [matDatepicker]="picker" [min]="minDate"
                        [max]="maxDate" [(ngModel)]="agendamento.data" disabled required>
                    <mat-datepicker-toggle matSuffix [for]="picker" value='data'></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill" style="margin-left: 5%; width: 47.8%;">
                    <mat-label>Hora</mat-label>
                    <mat-select [(ngModel)]="agendamento.hora" name="horarios" required>
                        <mat-option *ngFor="let horarios of hora" [value]="horarios.hora">
                            {{horarios.hora}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <button mat-raised-button color="primary" class="registerbtn" type="submit" [disabled]="!form.form.valid">Alterar</button>
            </form>
        </div>
    </div>
</div>