<mat-toolbar>
</mat-toolbar>
<div class="row">
    <div class="column">
        <div class="card">
            <p><img src="../../assets/icones/map-marker.png" alt=""></p>
            <h3>Rua Juiz de Fora, 97</h3>
            <p>São João do Oriente/MG</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <p><img src="../../assets/icones/clock.png" alt=""></p>
            <h3>Aberto</h3>
            <p>Seg - Sex: 08:00 - 18:00</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <p><img class="icon" src="../../assets/icones/phone.png" alt=""></p>
            <h3>+55 (33) 98704-9945</h3>
            <p>Agende sua consulta</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <p><img class="icon" src="../../assets/icones/facebook_icon-icons.com_59205.png" alt=""></p>
            <h3>Curta nossa pagina no Facebook</h3>
            <a mat-raised-button color="primary" href="https://www.facebook.com/Odonto-Cl%C3%ADnica-127950361095749"
                target="_blank">Odonto Clinica</a>
        </div>
    </div>
</div>