<div style="text-align: center; margin-top: 1%;">
    <h1>Cadastro</h1>
</div>


<!--Formulario de cadastro-->

<div class="formulario" *ngIf="controlePDF===false" >
    <form (ngSubmit)="registrarUsuario(form)" #form="ngForm">
       
        <mat-form-field appearance="fill" class="cadastro">
            <mat-label>Nome</mat-label>
            <input matInput type="text" id="name" name="name" [(ngModel)]="conta.nome" disabled>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill" class="cadastro">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" id="email" name="email" [(ngModel)]="conta.email" disabled>
        </mat-form-field>
        <br>
        
        <mat-form-field appearance="fill" class="cadastro">
            <mat-label>Rua</mat-label>
            <input matInput type="text" id="rua" name="rua" [(ngModel)]="conta.rua" required>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill" class="cadastro">
            <mat-label>Numero</mat-label>
            <input matInput type="text" id="numero" name="numero" [(ngModel)]="conta.numero" required>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill" class="cadastro">
            <mat-label>Cidade</mat-label>
            <input matInput type="text" id="cidade" name="cidade" [(ngModel)]="conta.cidade" required>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill" class="cadastro">
            <mat-label>Telefone</mat-label>
            <input matInput type="tel" id="telefone" name="telefone" maxlength="11" [(ngModel)]="conta.telefone" required>
        </mat-form-field>
        <br>

        <button mat-raised-button color="primary" class="registerbtn" type="submit" [disabled]="!form.form.valid" >Alterar dados </button>
    </form>
    <button mat-raised-button color="primary" class="registerbtn" type="submit" (click)="altPDF()"> Voltar PDF</button>
</div>


<div class="formulario" *ngIf="controlePDF===true" >
    <form *ngFor="let aux of cliente">

        <mat-form-field appearance="fill" class="cadastro">
            <mat-label>Nome</mat-label>
            <input matInput type="text" id="name" name="name" [(ngModel)]="conta.nome" disabled>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill" class="cadastro">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" id="email" name="email" [(ngModel)]="conta.email" disabled>
        </mat-form-field>
        <br>
        
        <mat-form-field appearance="fill" class="cadastro">
            <mat-label>Rua</mat-label>
            <input matInput type="text" value="{{aux.rua}}" disabled>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill" class="cadastro">
            <mat-label>Numero</mat-label>
            <input matInput type="text" value="{{aux.numero}}" disabled>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill" class="cadastro">
            <mat-label>Cidade</mat-label>
            <input matInput type="text"value="{{aux.cidade}}" disabled>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill" class="cadastro">
            <mat-label>Telefone</mat-label>
            <input matInput type="tel" value="{{aux.telefone}}" disabled>
        </mat-form-field>
        <br>

    </form>
    <button mat-raised-button color="primary" class="registerbtn" type="submit">Imprimir PDF</button>
    <button mat-raised-button color="warn" class="registerbtn" type="submit" style="margin-left: 1%;" (click)="altPerfil()"> Alterar dados </button>
</div>
